transformers
datasets
flask
gunicorn
python-dotenv
langchain_core
langchain_community
langchain_openai
streamlit
langserve
fastapi
uvicorn
groq
bs4
pypdf
sse_starlette
chromadb
faiss-cpu
cassio

langchain-groq
wikipedia
arxiv
langchainhub


